<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Quiz</title>
    <link href="{% static 'quiz/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'quiz/css/index.css' %}">
</head>
<body>


<div class="index-container">
    <h1>Quizzle</h1>
    <p class="subtitle">Create your own Quiz for free!</p>
    <form method="post" action="{% url 'newQuiz' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Create new quiz</button>
    </form>
</div>
</body>
</html>